@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-xxl container admin-div-container">
    <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Ajouter un nouveau profil</h5>
            <span class="float-rigth">
                <!-- Button add profil modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                   Ajouter un profil
                    <i class="fa fa-user-plus"></i>
                </button>
            </span>
        </div>
        <div class="card-body">
            <form>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-icon-default-firstname">Nom</label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-firstname2" class="input-group-text">
                                <i class="fa fa-user"></i>
                            </span>
                            <input type="text"
                                   class="form-control"
                                   id="basic-icon-default-firstname"
                                   placeholder="John Doe"
                                   aria-label="John Doe"
                                   aria-describedby="basic-icon-default-firstname2" />
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-icon-default-lastname">Prénom</label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-lastname2" class="input-group-text">
                                <i class="fa fa-user"></i>
                            </span>
                            <input type="text"
                                   class="form-control"
                                   id="basic-icon-default-lastname"
                                   placeholder="John Doe"
                                   aria-label="John Doe"
                                   aria-describedby="basic-icon-default-lastname2" />
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-icon-default-pseudo">Pseudo</label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-pseudo2" class="input-group-text">
                                <i class="fa fa-user-circle-o"></i>
                            </span>
                            <input type="text"
                                   id="basic-icon-default-pseudo"
                                   class="form-control"
                                   placeholder="John"
                                   aria-label="John"
                                   aria-describedby="basic-icon-default-pseudo2" />
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-icon-default-password">Mot de passe</label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-password2" class="input-group-text">
                                <i class="fa fa-key"></i>
                            </span>
                            <input type="text"
                                   id="basic-icon-default-password"
                                   class="form-control"
                                   placeholder="123456"
                                   aria-label="123456"
                                   aria-describedby="basic-icon-default-password2" />
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-icon-default-email">Email</label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                            <input type="text"
                                   id="basic-icon-default-email"
                                   class="form-control"
                                   placeholder="john.doe@gmail.com"
                                   aria-label="john.doe@gmail.com"
                                   aria-describedby="basic-icon-default-email2" />
                            <span id="basic-icon-default-email2" class="input-group-text">example.com</span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 form-label" for="basic-icon-default-registrition-date">Date d'inscription</label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-registrition-date2" class="input-group-text">
                                <i class="fa fa-calendar-o"></i>
                            </span>
                            <input type="date"
                                   id="basic-icon-default-registrition-date"
                                   class="form-control"
                                   aria-describedby="basic-icon-default-registrition-date2" />
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 form-label" for="basic-icon-default-Profil">Profil</label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">

                            <select class="form-select" aria-label="Default select example">
                                <option selected>Choisir un profil</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Profil Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    @using (Html.BeginForm("AddProfil", "Admin", FormMethod.Post)){
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nouveau Profil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group input-group-merge">
                        <span id="modal-profil-icon" class="input-group-text">
                            <i class="fa fa-user-circle-o"></i>
                        </span>
                        <input type="text"
                           id="modal-profil"
                           class="form-control"
                           placeholder="Administrateur"
                           aria-label="Administrateur"
                           aria-describedby="modal-profil" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </div>
        </div>
    }
</div>







