@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <div class="container admin-div-container">
        <div class="row">
            <div class="col-lg-12 mb-4 order-0">
                <div class="card">
                    <div class="d-flex align-items-end row">
                        <div class="col-sm-7">
                            <div class="card-body">
                                <h5 class="card-title text-primary">
                                    Bienvenue Utilisateur
                                </h5>
                                <p class="mb-4">
                                    Votre espace de gestion de système où vous pouvez consulter, ajouter, supprimer ou modifier un profil.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-5 text-center text-sm-left">
                            <div class="card-body pb-0 px-0 px-md-4">
                                <img src="./img/illustrations/man-with-laptop-light.png"
                                     height="140"
                                     alt="View Badge User"
                                     data-app-dark-img="illustrations/man-with-laptop-dark.png"
                                     data-app-light-img="illustrations/man-with-laptop-light.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br>
        <!-- Text alignment -->

        <div class="row mb-5">
            <div class="col-md-6 col-lg-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            Ajout des profils
                            <span class="ms-2"><i class="fa fa-address-card" aria-hidden="true"></i></span>
                        </h5>
                        <p class="card-text">Clicker sur ce boutton pour ajouter un nouveau profil.</p>
                        <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="Add">
                            Ajouter
                            <span class="ms-2"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            Gestion des profils
                            <span class="ms-2"><i class="fa fa-cogs" aria-hidden="true"></i></span>
                        </h5>
                        <p class="card-text">Clicker sur boutton pour modifier ou supprimer un profil.</p>
                        <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="Manage">
                            Modifier et Supprimer
                            <span class="ms-2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <!--/ Text alignment -->

    </div>
}
