<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CyBox Technologies</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CyBox.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand ms-xxl-5 me-4" href="/">CyBox</a>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item me-2">
                            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">
                                <span><i class="fa fa-user"></i></span>
                                Espace admin
                            </a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="nav-link" asp-area="" asp-controller="Prospect" asp-action="Index">
                                <span><i class="fa fa-users"></i></span>
                                Prospects
                            </a>
                        </li>
                        <li class="me-2">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                    <span><i class="fa fa-hdd-o"></i></span>
                                    Stock
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item text-black" asp-area="" asp-controller="Sale" asp-action="Index">
                                            <span class="me-2"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                                            Ventes
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-black" asp-area="" asp-controller="Purchase" asp-action="Index">
                                            <span class="me-2"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                                            Achats
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <form class="d-flex me-lg-5" asp-controller="CyBox" asp-action="Login" method="post">
                        <input class="form-control me-2 input-group-sm " type="text" placeholder="Pseudo">
                        <input class="form-control me-2 input-group-sm " type="password" placeholder="Mot de passe">
                        <button class="btn btn-success btn-sm d-inline-flex" type="button">
                            Connexion
                            <span class="ms-2"><i class="fa fa-sign-in" aria-hidden="true"></i></span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Developed By &copy; <a href="https://github.com/tghrayt" class="text-black">Tghrayt</a> with <i class="fa fa-heart" aria-hidden="true"></i>

            - CyBox -  @{
                <span>@ViewData["date"]</span>
            }
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
