@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="container cybox">
                <img src="./img/cybox.png" class="img-fluid image" alt="CyBox">
                <p class="cybox-p">
                    <h3>CyBox Technologies</h3>
                    <span>Avec CyBox vous pouvez gérer et contrôler vos stocks pour rationaliser</span>
                    <span> votre exploitation et améliorer vos bénéfices.</span>
                    <br>
                    <span>Tel/Fix : +33 5 87 98 22 41  -  Email : technologies@cybox.fr</span>
                    <br>
                    <a class="btn btn-primary btn-sm mt-4" href="https://github.com/tghrayt/CyBox">Plus d'informations  <i class="fa fa-arrow-right"></i></a>
                </p>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="container cybox">
                <img src="./img/illustrations/girl-doing-yoga-light.png"
                     height="300"
                     alt="View Badge User"
                     data-app-dark-img="illustrations/girl-doing-yoga-light.png"
                     data-app-light-img="illustrations/girl-doing-yoga-light.png" />
            </div>
        </div>
    </div>
}
