@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <div class="container cybox">
        <img src="./img/cybox.png" class="img-fluid image" alt="CyBox">
        <p class="cybox-p">
            <h3>CyBox Technologies</h3>
            <span>Avec CyBox vous pouvez gérer et contrôler vos stocks pour rationaliser</span>
            <span> votre exploitation et améliorer vos bénéfices.</span>
            <br>
            <span>Tel/Fix : +33 5 87 98 22 41  -  Email : technologies@cybox.fr</span>
            <br>
            <button class="btn btn-primary btn-sm mt-4">Plus d'informations  <i class="fa fa-arrow-right"></i></button>
        </p>
        
       
        
    </div>



}
